// Colors
$primary: #E0E2DB;
$secondary: #558B6E;
$accent: #8B2635;
$background: #1f2122;
$background-darker: #191b1b;

$background-light: #4b8f8c;

.App {
  text-align: center;
  background-color: $background;
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes growWide{
  0%{
    opacity: 0;
    width: 0%;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideIn{
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes animateNavHover{
  100%{
    background-color: $accent;
    color: $background;
  }
}

.app-disclaimer{
  background-color: #8B2635;
  color: white;
  margin: 0px;
  padding: 10px;
  a{
    color: $secondary;
  }
}

#navigation{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 20%));
  width: 0px;
  animation: 3s ease-in growWide;
  animation-fill-mode: forwards;

  color: $primary;

}

.nav-btn{
  padding: 10px;
}

.nav-btn:hover{
  cursor: pointer;
  animation: 200ms ease-in animateNavHover;
  animation-fill-mode: forwards;
}

.custom-jumbotron{
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

  
  h2{
    color: $primary;
  }
  hr{
    color: $accent;
    width: 0%;
    animation: 1s ease-in growWide;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .jumbotron-left{
    text-align: left;
    // width: 50%;
  }
  .jumbotron-right{
    // width: 50%;
    margin-top: 20px;
    text-align: right;
    color: $primary;
  }
}


#my_name{
  // First thing to animate because of course it is 
  opacity: 0;
  animation: 1000ms ease-in fadeIn;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  font-size: 50px;
  color: $primary;
}
#my_job{
  // Second animation - triggers with hr resizing
  opacity: 0;
  animation: 1000ms ease-in fadeIn;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
#my_contact{
  // Third animation
  opacity: 0;
  animation: 1000ms ease-in fadeIn;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

#about_div{
  // Fourth animation
  transform: translateX(-100%);;
  animation: 1s ease-in slideIn;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  // background-image: url("https://placehold.it/2000x800");
  background-image: url("./images/photo_cropped.jpg");
  min-height: 90vh;
  background-size: cover;
  // padding-top: 100px;
  background-position: -300px;

  p{
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: $primary;
    text-align: left;
    padding: 30px;
    width: 30%;
  }

}

.section_div{
  border-top: 1px solid $accent;
  margin: 20px;
}

.section_title{
  color: $primary;
  background-color: $background-darker;
  // width: 33%;
  padding:10px;
  margin-left: 0px;
  text-decoration: bold;
  text-align: center;
}

// Skills section

.skills_div{
  padding-bottom: 100px;
  margin-top: 50px;
  text-align: left;

}

.label{
  transform: rotate(-45deg);
  width: fit-content;
  transform-origin: right top;
  color: $primary;
  font-size: 30px;
}

#labels{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 25%));
}
#skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 25%));
}
.skill-div{
  text-align: center;
  width: 100%;
}
.skill{
  opacity: 0;
  animation-fill-mode: forwards;
  /* width:80%; */
  background-color: $accent;
  color: $primary;
  display: inline-block;
  /* padding: 10px; */
  margin: 5px;
  border-radius:5px;
  padding: 5px;
  width: 80%;
}
.skill_hidden{
  /* width:80%; */
  opacity: 0;
  display: inline-block;
  /* padding: 10px; */
  margin: 5px;
  padding: 5px;
  width: 80%;
}

// Research Section

#eisi_card{
  background-image: url("./images/eisi_paper.png");
}
#reddit_card{
  background-image: url("./images/reddit_paper.png");

}
#isi_card{
  background-image: url("./images/isi_paper.png");
}

.research-card{
  min-height: 600px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
  .research-card-content{
    width: 100%;
    padding:20px;
    min-height: 600px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    h2{
      color: $primary;
    }
    hr{
      color: white;
    }
    .research-card-abstract{
      color: $primary;
    }
    .paper-link{
      background-color: $primary;
      color: $background;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
    }
    .paper-link:hover{
      animation: 200ms ease-in animateNavHover;
      animation-fill-mode: forwards;
    }
  }
}
